<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <h1>websocket chat</h1>

        <input type="text" id="msg" value="> message"/>
        <button id="sendBtn">send</button>
        
        <ul id="rcv"></ul>
    </body>

    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <h1>websocket chat</h1>

        <input type="text" id="msg" value="> message"/>
        <button id="sendBtn">send</button>
        <ul id="rcv"></ul>
    </body>
