{% extends "base.html" %}
{% block content %}
<div class="login">
    <div class="loginForm">
        <form action="/reset_password" method="POST">
            <h2>パスワードを再設定</h2>
            <input type="hidden" name="passcode" value={{passcode}}>
            <input type="hidden" name="id" value={{id}}>
            <p><input type="text" name="codeveri" placeholder="確認コード"></p>
            <p><input type="text" name="password" placeholder="新しいパスワード"></p>
            <p><input type="text" name="passveri" placeholder="確認用パスワード"></p>
            <p><input type="submit" value="パスワードを新しく設定"></p>
        </form>
    </div>
</div>


{% endblock %}